body{
    background-color: bisque;
}
.parent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid;
    text-align: center;
    box-shadow: 5px 10px 5px ;
    border-radius: 5%;
    background-color: aqua;
}
h1{
    background-image: url("./image/flame.gif");
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
}
input{
    padding: 10px;
    box-shadow: 5px 10px 5px;
    border-radius: 10%;
}
ul{
    padding: 10px;
    /* text-align: center; */
    /* position: relative; */
    /* left: 50%; */
    list-style: none;
    margin-left: auto;
    margin-right: 10%;
    /* right: 20px; */
}
button{
    padding: 10px;

}
button:hover{
    background-color: red;
}
div > button:hover{
    background-color: green;
}


